<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>T</key>
      <integer>-74</integer>
      <key>V</key>
      <integer>-48</integer>
      <key>W</key>
      <integer>-48</integer>
      <key>Y</key>
      <integer>-48</integer>
      <key>f</key>
      <integer>-24</integer>
      <key>v</key>
      <integer>-48</integer>
      <key>w</key>
      <integer>-48</integer>
      <key>y</key>
      <integer>-48</integer>
    </dict>
    <key>D</key>
    <dict>
      <key>Y</key>
      <integer>-23</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>A</key>
      <integer>-98</integer>
      <key>V</key>
      <integer>0</integer>
      <key>W</key>
      <integer>-24</integer>
      <key>X</key>
      <integer>-48</integer>
      <key>Y</key>
      <integer>-24</integer>
      <key>a</key>
      <integer>-48</integer>
      <key>c</key>
      <integer>-48</integer>
      <key>d</key>
      <integer>-48</integer>
      <key>e</key>
      <integer>-48</integer>
      <key>g</key>
      <integer>-96</integer>
      <key>o</key>
      <integer>-48</integer>
      <key>q</key>
      <integer>-48</integer>
      <key>u</key>
      <integer>-48</integer>
      <key>v</key>
      <integer>-72</integer>
      <key>w</key>
      <integer>-72</integer>
      <key>x</key>
      <integer>-48</integer>
      <key>y</key>
      <integer>-48</integer>
      <key>z</key>
      <integer>-48</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>J</key>
      <integer>48</integer>
      <key>T</key>
      <integer>-71</integer>
      <key>V</key>
      <integer>-72</integer>
      <key>W</key>
      <integer>-60</integer>
      <key>Y</key>
      <integer>-122</integer>
      <key>v</key>
      <integer>-48</integer>
      <key>w</key>
      <integer>-48</integer>
      <key>y</key>
      <integer>-48</integer>
    </dict>
    <key>O</key>
    <dict>
      <key>V</key>
      <integer>0</integer>
      <key>X</key>
      <integer>1</integer>
      <key>Y</key>
      <integer>-24</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>A</key>
      <integer>-74</integer>
    </dict>
    <key>Q</key>
    <dict>
      <key>Y</key>
      <integer>-24</integer>
    </dict>
    <key>S</key>
    <dict>
      <key>Y</key>
      <integer>-48</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <integer>-74</integer>
      <key>J</key>
      <integer>-122</integer>
      <key>a</key>
      <integer>-158</integer>
      <key>c</key>
      <integer>-134</integer>
      <key>d</key>
      <integer>-158</integer>
      <key>e</key>
      <integer>-134</integer>
      <key>f</key>
      <integer>-98</integer>
      <key>g</key>
      <integer>-182</integer>
      <key>m</key>
      <integer>-109</integer>
      <key>n</key>
      <integer>-109</integer>
      <key>o</key>
      <integer>-133</integer>
      <key>p</key>
      <integer>-109</integer>
      <key>q</key>
      <integer>-134</integer>
      <key>r</key>
      <integer>-121</integer>
      <key>s</key>
      <integer>-194</integer>
      <key>u</key>
      <integer>-109</integer>
      <key>v</key>
      <integer>-146</integer>
      <key>x</key>
      <integer>-98</integer>
      <key>y</key>
      <integer>-146</integer>
      <key>z</key>
      <integer>-71</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>A</key>
      <integer>-48</integer>
      <key>C</key>
      <integer>0</integer>
      <key>J</key>
      <integer>-122</integer>
      <key>O</key>
      <integer>0</integer>
      <key>a</key>
      <integer>-48</integer>
      <key>c</key>
      <integer>-48</integer>
      <key>d</key>
      <integer>-48</integer>
      <key>e</key>
      <integer>-48</integer>
      <key>f</key>
      <integer>-74</integer>
      <key>g</key>
      <integer>-98</integer>
      <key>o</key>
      <integer>-48</integer>
      <key>q</key>
      <integer>-36</integer>
      <key>r</key>
      <integer>1</integer>
      <key>s</key>
      <integer>-48</integer>
    </dict>
    <key>W</key>
    <dict>
      <key>A</key>
      <integer>-48</integer>
      <key>J</key>
      <integer>-122</integer>
      <key>a</key>
      <integer>-48</integer>
      <key>c</key>
      <integer>-48</integer>
      <key>d</key>
      <integer>-48</integer>
      <key>e</key>
      <integer>-48</integer>
      <key>f</key>
      <integer>-74</integer>
      <key>g</key>
      <integer>-98</integer>
      <key>o</key>
      <integer>-48</integer>
      <key>q</key>
      <integer>-48</integer>
      <key>r</key>
      <integer>-48</integer>
      <key>s</key>
      <integer>-74</integer>
      <key>u</key>
      <integer>-48</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>O</key>
      <integer>1</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>A</key>
      <integer>-122</integer>
      <key>C</key>
      <integer>1</integer>
      <key>H</key>
      <integer>0</integer>
      <key>J</key>
      <integer>-121</integer>
      <key>O</key>
      <integer>-24</integer>
      <key>Q</key>
      <integer>-24</integer>
      <key>S</key>
      <integer>-48</integer>
      <key>a</key>
      <integer>-97</integer>
      <key>c</key>
      <integer>-97</integer>
      <key>d</key>
      <integer>-97</integer>
      <key>e</key>
      <integer>-97</integer>
      <key>f</key>
      <integer>-122</integer>
      <key>g</key>
      <integer>-146</integer>
      <key>m</key>
      <integer>-97</integer>
      <key>n</key>
      <integer>-97</integer>
      <key>o</key>
      <integer>-97</integer>
      <key>p</key>
      <integer>-97</integer>
      <key>q</key>
      <integer>-97</integer>
      <key>r</key>
      <integer>-97</integer>
      <key>s</key>
      <integer>-97</integer>
      <key>t</key>
      <integer>-47</integer>
      <key>u</key>
      <integer>-97</integer>
      <key>v</key>
      <integer>-72</integer>
      <key>w</key>
      <integer>-72</integer>
      <key>x</key>
      <integer>-98</integer>
      <key>y</key>
      <integer>-98</integer>
      <key>z</key>
      <integer>-97</integer>
    </dict>
    <key>a</key>
    <dict>
      <key>T</key>
      <integer>-194</integer>
      <key>V</key>
      <integer>-47</integer>
      <key>W</key>
      <integer>-48</integer>
      <key>Y</key>
      <integer>-98</integer>
    </dict>
    <key>b</key>
    <dict>
      <key>T</key>
      <integer>-24</integer>
      <key>V</key>
      <integer>-36</integer>
      <key>Y</key>
      <integer>1</integer>
    </dict>
    <key>c</key>
    <dict>
      <key>T</key>
      <integer>-134</integer>
      <key>V</key>
      <integer>-48</integer>
      <key>Y</key>
      <integer>-48</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>T</key>
      <integer>-134</integer>
      <key>V</key>
      <integer>-48</integer>
      <key>Y</key>
      <integer>-84</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>A</key>
      <integer>-24</integer>
      <key>J</key>
      <integer>-122</integer>
      <key>c</key>
      <integer>-48</integer>
      <key>g</key>
      <integer>-73</integer>
      <key>j</key>
      <integer>-48</integer>
      <key>s</key>
      <integer>-73</integer>
    </dict>
    <key>g</key>
    <dict>
      <key>j</key>
      <integer>146</integer>
      <key>y</key>
      <integer>48</integer>
    </dict>
    <key>h</key>
    <dict>
      <key>T</key>
      <integer>0</integer>
      <key>Y</key>
      <integer>-96</integer>
    </dict>
    <key>j</key>
    <dict>
      <key>f</key>
      <integer>-48</integer>
    </dict>
    <key>k</key>
    <dict>
      <key>f</key>
      <integer>-48</integer>
      <key>j</key>
      <integer>-24</integer>
      <key>y</key>
      <integer>-48</integer>
    </dict>
    <key>m</key>
    <dict>
      <key>T</key>
      <integer>-111</integer>
      <key>Y</key>
      <integer>-98</integer>
    </dict>
    <key>n</key>
    <dict>
      <key>T</key>
      <integer>-111</integer>
      <key>Y</key>
      <integer>-98</integer>
    </dict>
    <key>o</key>
    <dict>
      <key>T</key>
      <integer>-134</integer>
      <key>V</key>
      <integer>-48</integer>
      <key>W</key>
      <integer>-48</integer>
      <key>Y</key>
      <integer>-97</integer>
    </dict>
    <key>p</key>
    <dict>
      <key>T</key>
      <integer>-86</integer>
      <key>Y</key>
      <integer>-72</integer>
    </dict>
    <key>q</key>
    <dict>
      <key>T</key>
      <integer>-158</integer>
      <key>Y</key>
      <integer>-98</integer>
      <key>j</key>
      <integer>170</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>J</key>
      <integer>-74</integer>
      <key>T</key>
      <integer>-147</integer>
      <key>a</key>
      <integer>0</integer>
      <key>g</key>
      <integer>-48</integer>
    </dict>
    <key>s</key>
    <dict>
      <key>T</key>
      <integer>-194</integer>
      <key>V</key>
      <integer>-48</integer>
      <key>W</key>
      <integer>-72</integer>
      <key>Y</key>
      <integer>-98</integer>
      <key>f</key>
      <integer>-72</integer>
      <key>y</key>
      <integer>-48</integer>
    </dict>
    <key>t</key>
    <dict>
      <key>Y</key>
      <integer>-47</integer>
    </dict>
    <key>u</key>
    <dict>
      <key>T</key>
      <integer>-122</integer>
      <key>Y</key>
      <integer>-98</integer>
    </dict>
    <key>v</key>
    <dict>
      <key>A</key>
      <integer>-48</integer>
      <key>J</key>
      <integer>-122</integer>
      <key>T</key>
      <integer>-147</integer>
      <key>Y</key>
      <integer>-72</integer>
      <key>g</key>
      <integer>-24</integer>
    </dict>
    <key>w</key>
    <dict>
      <key>A</key>
      <integer>-48</integer>
      <key>J</key>
      <integer>-98</integer>
      <key>T</key>
      <integer>-72</integer>
      <key>Y</key>
      <integer>-72</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>T</key>
      <integer>-98</integer>
      <key>Y</key>
      <integer>-98</integer>
    </dict>
    <key>y</key>
    <dict>
      <key>A</key>
      <integer>-24</integer>
      <key>J</key>
      <integer>-48</integer>
      <key>T</key>
      <integer>-147</integer>
      <key>Y</key>
      <integer>-48</integer>
      <key>g</key>
      <integer>-24</integer>
    </dict>
    <key>z</key>
    <dict>
      <key>T</key>
      <integer>-73</integer>
      <key>Y</key>
      <integer>-98</integer>
    </dict>
  </dict>
</plist>
