<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>956</integer>
    <key>capHeight</key>
    <integer>671</integer>
    <key>copyright</key>
    <string>Copyright (c) 2011 by . All rights reserved.</string>
    <key>descender</key>
    <integer>-256</integer>
    <key>familyName</key>
    <string>Karla Latin</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2011/06/08 13:35:45</string>
    <key>openTypeHheaAscender</key>
    <integer>854</integer>
    <key>openTypeHheaDescender</key>
    <integer>-241</integer>
    <key>openTypeHheaLineGap</key>
    <integer>23</integer>
    <key>openTypeNameDescription</key>
    <string>Copyright (c) 2011 by . All rights reserved.</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array>
      <integer>2</integer>
    </array>
    <key>openTypeOS2TypoAscender</key>
    <integer>677</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-241</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>46</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>854</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>241</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-16</integer>
      <integer>0</integer>
      <integer>493</integer>
      <integer>509</integer>
      <integer>671</integer>
      <integer>683</integer>
      <integer>687</integer>
      <integer>699</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-256</integer>
      <integer>-240</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Karla Latin</string>
    <key>styleMapStyleName</key>
    <string>bold</string>
    <key>styleName</key>
    <string>Bold</string>
    <key>trademark</key>
    <string>Karla Latin is a trademark of .</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>493</integer>
  </dict>
</plist>
