<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>T</key>
      <integer>-90</integer>
      <key>V</key>
      <integer>-64</integer>
      <key>W</key>
      <integer>-64</integer>
      <key>Y</key>
      <integer>-56</integer>
      <key>f</key>
      <integer>-24</integer>
      <key>v</key>
      <integer>-40</integer>
      <key>w</key>
      <integer>-48</integer>
      <key>y</key>
      <integer>-64</integer>
    </dict>
    <key>D</key>
    <dict>
      <key>Y</key>
      <integer>-72</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>A</key>
      <integer>-130</integer>
      <key>V</key>
      <integer>0</integer>
      <key>W</key>
      <integer>-8</integer>
      <key>X</key>
      <integer>-16</integer>
      <key>Y</key>
      <integer>-8</integer>
      <key>a</key>
      <integer>-48</integer>
      <key>c</key>
      <integer>-64</integer>
      <key>d</key>
      <integer>-48</integer>
      <key>e</key>
      <integer>-64</integer>
      <key>g</key>
      <integer>-80</integer>
      <key>o</key>
      <integer>-64</integer>
      <key>q</key>
      <integer>-64</integer>
      <key>u</key>
      <integer>-48</integer>
      <key>v</key>
      <integer>-56</integer>
      <key>w</key>
      <integer>-72</integer>
      <key>x</key>
      <integer>-64</integer>
      <key>y</key>
      <integer>-64</integer>
      <key>z</key>
      <integer>-48</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>J</key>
      <integer>16</integer>
      <key>T</key>
      <integer>-120</integer>
      <key>V</key>
      <integer>-104</integer>
      <key>W</key>
      <integer>-100</integer>
      <key>Y</key>
      <integer>-154</integer>
      <key>v</key>
      <integer>-48</integer>
      <key>w</key>
      <integer>-48</integer>
      <key>y</key>
      <integer>-64</integer>
    </dict>
    <key>O</key>
    <dict>
      <key>V</key>
      <integer>-32</integer>
      <key>X</key>
      <integer>-48</integer>
      <key>Y</key>
      <integer>-40</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>A</key>
      <integer>-82</integer>
    </dict>
    <key>Q</key>
    <dict>
      <key>Y</key>
      <integer>-40</integer>
    </dict>
    <key>S</key>
    <dict>
      <key>Y</key>
      <integer>-56</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <integer>-90</integer>
      <key>J</key>
      <integer>-154</integer>
      <key>a</key>
      <integer>-190</integer>
      <key>c</key>
      <integer>-166</integer>
      <key>d</key>
      <integer>-182</integer>
      <key>e</key>
      <integer>-166</integer>
      <key>f</key>
      <integer>-114</integer>
      <key>g</key>
      <integer>-166</integer>
      <key>m</key>
      <integer>-166</integer>
      <key>n</key>
      <integer>-166</integer>
      <key>o</key>
      <integer>-182</integer>
      <key>p</key>
      <integer>-166</integer>
      <key>q</key>
      <integer>-166</integer>
      <key>r</key>
      <integer>-170</integer>
      <key>s</key>
      <integer>-194</integer>
      <key>u</key>
      <integer>-166</integer>
      <key>v</key>
      <integer>-146</integer>
      <key>x</key>
      <integer>-130</integer>
      <key>y</key>
      <integer>-162</integer>
      <key>z</key>
      <integer>-136</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>A</key>
      <integer>-80</integer>
      <key>C</key>
      <integer>-32</integer>
      <key>J</key>
      <integer>-154</integer>
      <key>O</key>
      <integer>-32</integer>
      <key>a</key>
      <integer>-80</integer>
      <key>c</key>
      <integer>-80</integer>
      <key>d</key>
      <integer>-80</integer>
      <key>e</key>
      <integer>-80</integer>
      <key>f</key>
      <integer>-90</integer>
      <key>g</key>
      <integer>-98</integer>
      <key>o</key>
      <integer>-80</integer>
      <key>q</key>
      <integer>-76</integer>
      <key>r</key>
      <integer>-64</integer>
      <key>s</key>
      <integer>-80</integer>
    </dict>
    <key>W</key>
    <dict>
      <key>A</key>
      <integer>-80</integer>
      <key>J</key>
      <integer>-154</integer>
      <key>a</key>
      <integer>-80</integer>
      <key>c</key>
      <integer>-80</integer>
      <key>d</key>
      <integer>-80</integer>
      <key>e</key>
      <integer>-80</integer>
      <key>f</key>
      <integer>-90</integer>
      <key>g</key>
      <integer>-98</integer>
      <key>o</key>
      <integer>-80</integer>
      <key>q</key>
      <integer>-80</integer>
      <key>r</key>
      <integer>-80</integer>
      <key>s</key>
      <integer>-90</integer>
      <key>u</key>
      <integer>-64</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>O</key>
      <integer>-48</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>A</key>
      <integer>-154</integer>
      <key>C</key>
      <integer>-64</integer>
      <key>H</key>
      <integer>-32</integer>
      <key>J</key>
      <integer>-202</integer>
      <key>O</key>
      <integer>-40</integer>
      <key>Q</key>
      <integer>-40</integer>
      <key>S</key>
      <integer>-64</integer>
      <key>a</key>
      <integer>-146</integer>
      <key>c</key>
      <integer>-162</integer>
      <key>d</key>
      <integer>-162</integer>
      <key>e</key>
      <integer>-162</integer>
      <key>f</key>
      <integer>-138</integer>
      <key>g</key>
      <integer>-162</integer>
      <key>m</key>
      <integer>-162</integer>
      <key>n</key>
      <integer>-162</integer>
      <key>o</key>
      <integer>-162</integer>
      <key>p</key>
      <integer>-162</integer>
      <key>q</key>
      <integer>-162</integer>
      <key>r</key>
      <integer>-162</integer>
      <key>s</key>
      <integer>-162</integer>
      <key>t</key>
      <integer>-96</integer>
      <key>u</key>
      <integer>-170</integer>
      <key>v</key>
      <integer>-104</integer>
      <key>w</key>
      <integer>-104</integer>
      <key>x</key>
      <integer>-114</integer>
      <key>y</key>
      <integer>-130</integer>
      <key>z</key>
      <integer>-162</integer>
    </dict>
    <key>a</key>
    <dict>
      <key>T</key>
      <integer>-162</integer>
      <key>V</key>
      <integer>-96</integer>
      <key>W</key>
      <integer>-64</integer>
      <key>Y</key>
      <integer>-114</integer>
    </dict>
    <key>b</key>
    <dict>
      <key>T</key>
      <integer>-56</integer>
      <key>V</key>
      <integer>-76</integer>
      <key>Y</key>
      <integer>-64</integer>
    </dict>
    <key>c</key>
    <dict>
      <key>T</key>
      <integer>-110</integer>
      <key>V</key>
      <integer>-64</integer>
      <key>Y</key>
      <integer>-80</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>T</key>
      <integer>-110</integer>
      <key>V</key>
      <integer>-48</integer>
      <key>Y</key>
      <integer>-76</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>A</key>
      <integer>-40</integer>
      <key>J</key>
      <integer>-90</integer>
      <key>c</key>
      <integer>-16</integer>
      <key>g</key>
      <integer>-32</integer>
      <key>j</key>
      <integer>-16</integer>
      <key>s</key>
      <integer>-24</integer>
    </dict>
    <key>g</key>
    <dict>
      <key>j</key>
      <integer>146</integer>
      <key>y</key>
      <integer>16</integer>
    </dict>
    <key>h</key>
    <dict>
      <key>T</key>
      <integer>-32</integer>
      <key>Y</key>
      <integer>-80</integer>
    </dict>
    <key>j</key>
    <dict>
      <key>f</key>
      <integer>-40</integer>
    </dict>
    <key>k</key>
    <dict>
      <key>f</key>
      <integer>-16</integer>
      <key>j</key>
      <integer>-8</integer>
      <key>y</key>
      <integer>-16</integer>
    </dict>
    <key>m</key>
    <dict>
      <key>T</key>
      <integer>-38</integer>
      <key>Y</key>
      <integer>-66</integer>
    </dict>
    <key>n</key>
    <dict>
      <key>T</key>
      <integer>-70</integer>
      <key>Y</key>
      <integer>-66</integer>
    </dict>
    <key>o</key>
    <dict>
      <key>T</key>
      <integer>-150</integer>
      <key>V</key>
      <integer>-80</integer>
      <key>W</key>
      <integer>-80</integer>
      <key>Y</key>
      <integer>-162</integer>
    </dict>
    <key>p</key>
    <dict>
      <key>T</key>
      <integer>-126</integer>
      <key>Y</key>
      <integer>-72</integer>
    </dict>
    <key>q</key>
    <dict>
      <key>T</key>
      <integer>-134</integer>
      <key>Y</key>
      <integer>-90</integer>
      <key>j</key>
      <integer>154</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>J</key>
      <integer>-90</integer>
      <key>T</key>
      <integer>-50</integer>
      <key>a</key>
      <integer>0</integer>
      <key>g</key>
      <integer>-16</integer>
    </dict>
    <key>s</key>
    <dict>
      <key>T</key>
      <integer>-162</integer>
      <key>V</key>
      <integer>-64</integer>
      <key>W</key>
      <integer>-72</integer>
      <key>Y</key>
      <integer>-130</integer>
      <key>f</key>
      <integer>-40</integer>
      <key>y</key>
      <integer>-32</integer>
    </dict>
    <key>t</key>
    <dict>
      <key>Y</key>
      <integer>-96</integer>
    </dict>
    <key>u</key>
    <dict>
      <key>T</key>
      <integer>-106</integer>
      <key>Y</key>
      <integer>-98</integer>
    </dict>
    <key>v</key>
    <dict>
      <key>A</key>
      <integer>-48</integer>
      <key>J</key>
      <integer>-90</integer>
      <key>T</key>
      <integer>-98</integer>
      <key>Y</key>
      <integer>-104</integer>
      <key>g</key>
      <integer>-8</integer>
    </dict>
    <key>w</key>
    <dict>
      <key>A</key>
      <integer>-64</integer>
      <key>J</key>
      <integer>-66</integer>
      <key>T</key>
      <integer>-56</integer>
      <key>Y</key>
      <integer>-56</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>T</key>
      <integer>-66</integer>
      <key>Y</key>
      <integer>-98</integer>
    </dict>
    <key>y</key>
    <dict>
      <key>A</key>
      <integer>-24</integer>
      <key>J</key>
      <integer>-48</integer>
      <key>T</key>
      <integer>-82</integer>
      <key>Y</key>
      <integer>-64</integer>
      <key>g</key>
      <integer>-8</integer>
    </dict>
    <key>z</key>
    <dict>
      <key>T</key>
      <integer>-24</integer>
      <key>Y</key>
      <integer>-66</integer>
    </dict>
  </dict>
</plist>
