<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>T</key>
      <integer>-49</integer>
      <key>V</key>
      <integer>-36</integer>
      <key>W</key>
      <integer>-36</integer>
      <key>Y</key>
      <integer>-30</integer>
      <key>f</key>
      <integer>-12</integer>
      <key>v</key>
      <integer>-18</integer>
      <key>w</key>
      <integer>-24</integer>
      <key>y</key>
      <integer>-36</integer>
    </dict>
    <key>D</key>
    <dict>
      <key>Y</key>
      <integer>-49</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>A</key>
      <integer>-73</integer>
      <key>V</key>
      <integer>0</integer>
      <key>W</key>
      <integer>0</integer>
      <key>X</key>
      <integer>0</integer>
      <key>Y</key>
      <integer>0</integer>
      <key>a</key>
      <integer>-24</integer>
      <key>c</key>
      <integer>-36</integer>
      <key>d</key>
      <integer>-24</integer>
      <key>e</key>
      <integer>-36</integer>
      <key>g</key>
      <integer>-36</integer>
      <key>o</key>
      <integer>-36</integer>
      <key>q</key>
      <integer>-36</integer>
      <key>u</key>
      <integer>-24</integer>
      <key>v</key>
      <integer>-24</integer>
      <key>w</key>
      <integer>-36</integer>
      <key>x</key>
      <integer>-36</integer>
      <key>y</key>
      <integer>-36</integer>
      <key>z</key>
      <integer>-24</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>J</key>
      <integer>0</integer>
      <key>T</key>
      <integer>-73</integer>
      <key>V</key>
      <integer>-61</integer>
      <key>W</key>
      <integer>-61</integer>
      <key>Y</key>
      <integer>-85</integer>
      <key>v</key>
      <integer>-24</integer>
      <key>w</key>
      <integer>-24</integer>
      <key>y</key>
      <integer>-36</integer>
    </dict>
    <key>O</key>
    <dict>
      <key>V</key>
      <integer>-24</integer>
      <key>X</key>
      <integer>-36</integer>
      <key>Y</key>
      <integer>-24</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>A</key>
      <integer>-43</integer>
    </dict>
    <key>Q</key>
    <dict>
      <key>Y</key>
      <integer>-24</integer>
    </dict>
    <key>S</key>
    <dict>
      <key>Y</key>
      <integer>-30</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <integer>-49</integer>
      <key>J</key>
      <integer>-85</integer>
      <key>a</key>
      <integer>-103</integer>
      <key>c</key>
      <integer>-91</integer>
      <key>d</key>
      <integer>-97</integer>
      <key>e</key>
      <integer>-91</integer>
      <key>f</key>
      <integer>-61</integer>
      <key>g</key>
      <integer>-79</integer>
      <key>m</key>
      <integer>-97</integer>
      <key>n</key>
      <integer>-97</integer>
      <key>o</key>
      <integer>-103</integer>
      <key>p</key>
      <integer>-97</integer>
      <key>q</key>
      <integer>-91</integer>
      <key>r</key>
      <integer>-97</integer>
      <key>s</key>
      <integer>-97</integer>
      <key>u</key>
      <integer>-97</integer>
      <key>v</key>
      <integer>-73</integer>
      <key>x</key>
      <integer>-73</integer>
      <key>y</key>
      <integer>-85</integer>
      <key>z</key>
      <integer>-85</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>A</key>
      <integer>-49</integer>
      <key>C</key>
      <integer>-24</integer>
      <key>J</key>
      <integer>-85</integer>
      <key>O</key>
      <integer>-24</integer>
      <key>a</key>
      <integer>-49</integer>
      <key>c</key>
      <integer>-49</integer>
      <key>d</key>
      <integer>-49</integer>
      <key>e</key>
      <integer>-49</integer>
      <key>f</key>
      <integer>-49</integer>
      <key>g</key>
      <integer>-49</integer>
      <key>o</key>
      <integer>-49</integer>
      <key>q</key>
      <integer>-49</integer>
      <key>r</key>
      <integer>-49</integer>
      <key>s</key>
      <integer>-49</integer>
    </dict>
    <key>W</key>
    <dict>
      <key>A</key>
      <integer>-49</integer>
      <key>J</key>
      <integer>-85</integer>
      <key>a</key>
      <integer>-49</integer>
      <key>c</key>
      <integer>-49</integer>
      <key>d</key>
      <integer>-49</integer>
      <key>e</key>
      <integer>-49</integer>
      <key>f</key>
      <integer>-49</integer>
      <key>g</key>
      <integer>-49</integer>
      <key>o</key>
      <integer>-49</integer>
      <key>q</key>
      <integer>-49</integer>
      <key>r</key>
      <integer>-49</integer>
      <key>s</key>
      <integer>-49</integer>
      <key>u</key>
      <integer>-36</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>O</key>
      <integer>-36</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>A</key>
      <integer>-85</integer>
      <key>C</key>
      <integer>-49</integer>
      <key>H</key>
      <integer>-24</integer>
      <key>J</key>
      <integer>-122</integer>
      <key>O</key>
      <integer>-24</integer>
      <key>Q</key>
      <integer>-24</integer>
      <key>S</key>
      <integer>-36</integer>
      <key>a</key>
      <integer>-85</integer>
      <key>c</key>
      <integer>-97</integer>
      <key>d</key>
      <integer>-97</integer>
      <key>e</key>
      <integer>-97</integer>
      <key>f</key>
      <integer>-73</integer>
      <key>g</key>
      <integer>-85</integer>
      <key>m</key>
      <integer>-97</integer>
      <key>n</key>
      <integer>-97</integer>
      <key>o</key>
      <integer>-97</integer>
      <key>p</key>
      <integer>-97</integer>
      <key>q</key>
      <integer>-97</integer>
      <key>r</key>
      <integer>-97</integer>
      <key>s</key>
      <integer>-97</integer>
      <key>t</key>
      <integer>-61</integer>
      <key>u</key>
      <integer>-103</integer>
      <key>v</key>
      <integer>-61</integer>
      <key>w</key>
      <integer>-61</integer>
      <key>x</key>
      <integer>-61</integer>
      <key>y</key>
      <integer>-73</integer>
      <key>z</key>
      <integer>-97</integer>
    </dict>
    <key>a</key>
    <dict>
      <key>T</key>
      <integer>-73</integer>
      <key>V</key>
      <integer>-61</integer>
      <key>W</key>
      <integer>-36</integer>
      <key>Y</key>
      <integer>-61</integer>
    </dict>
    <key>b</key>
    <dict>
      <key>T</key>
      <integer>-36</integer>
      <key>V</key>
      <integer>-49</integer>
      <key>Y</key>
      <integer>-49</integer>
    </dict>
    <key>c</key>
    <dict>
      <key>T</key>
      <integer>-49</integer>
      <key>V</key>
      <integer>-36</integer>
      <key>Y</key>
      <integer>-49</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>T</key>
      <integer>-49</integer>
      <key>V</key>
      <integer>-24</integer>
      <key>Y</key>
      <integer>-36</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>A</key>
      <integer>-24</integer>
      <key>J</key>
      <integer>-36</integer>
      <key>c</key>
      <integer>0</integer>
      <key>g</key>
      <integer>-6</integer>
      <key>j</key>
      <integer>0</integer>
      <key>s</key>
      <integer>0</integer>
    </dict>
    <key>g</key>
    <dict>
      <key>j</key>
      <integer>73</integer>
      <key>y</key>
      <integer>0</integer>
    </dict>
    <key>h</key>
    <dict>
      <key>T</key>
      <integer>-24</integer>
      <key>Y</key>
      <integer>-36</integer>
    </dict>
    <key>j</key>
    <dict>
      <key>f</key>
      <integer>-18</integer>
    </dict>
    <key>k</key>
    <dict>
      <key>f</key>
      <integer>0</integer>
      <key>j</key>
      <integer>0</integer>
      <key>y</key>
      <integer>0</integer>
    </dict>
    <key>m</key>
    <dict>
      <key>T</key>
      <integer>0</integer>
      <key>Y</key>
      <integer>-24</integer>
    </dict>
    <key>n</key>
    <dict>
      <key>T</key>
      <integer>-24</integer>
      <key>Y</key>
      <integer>-24</integer>
    </dict>
    <key>o</key>
    <dict>
      <key>T</key>
      <integer>-79</integer>
      <key>V</key>
      <integer>-49</integer>
      <key>W</key>
      <integer>-49</integer>
      <key>Y</key>
      <integer>-97</integer>
    </dict>
    <key>p</key>
    <dict>
      <key>T</key>
      <integer>-73</integer>
      <key>Y</key>
      <integer>-36</integer>
    </dict>
    <key>q</key>
    <dict>
      <key>T</key>
      <integer>-61</integer>
      <key>Y</key>
      <integer>-43</integer>
      <key>j</key>
      <integer>73</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>J</key>
      <integer>-49</integer>
      <key>T</key>
      <integer>0</integer>
      <key>a</key>
      <integer>0</integer>
      <key>g</key>
      <integer>0</integer>
    </dict>
    <key>s</key>
    <dict>
      <key>T</key>
      <integer>-73</integer>
      <key>V</key>
      <integer>-36</integer>
      <key>W</key>
      <integer>-36</integer>
      <key>Y</key>
      <integer>-73</integer>
      <key>f</key>
      <integer>-12</integer>
      <key>y</key>
      <integer>-12</integer>
    </dict>
    <key>t</key>
    <dict>
      <key>Y</key>
      <integer>-61</integer>
    </dict>
    <key>u</key>
    <dict>
      <key>T</key>
      <integer>-49</integer>
      <key>Y</key>
      <integer>-49</integer>
    </dict>
    <key>v</key>
    <dict>
      <key>A</key>
      <integer>-24</integer>
      <key>J</key>
      <integer>-36</integer>
      <key>T</key>
      <integer>-36</integer>
      <key>Y</key>
      <integer>-61</integer>
      <key>g</key>
      <integer>0</integer>
    </dict>
    <key>w</key>
    <dict>
      <key>A</key>
      <integer>-36</integer>
      <key>J</key>
      <integer>-24</integer>
      <key>T</key>
      <integer>-24</integer>
      <key>Y</key>
      <integer>-24</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>T</key>
      <integer>-24</integer>
      <key>Y</key>
      <integer>-49</integer>
    </dict>
    <key>y</key>
    <dict>
      <key>A</key>
      <integer>-12</integer>
      <key>J</key>
      <integer>-24</integer>
      <key>T</key>
      <integer>-24</integer>
      <key>Y</key>
      <integer>-36</integer>
      <key>g</key>
      <integer>0</integer>
    </dict>
    <key>z</key>
    <dict>
      <key>T</key>
      <integer>0</integer>
      <key>Y</key>
      <integer>-24</integer>
    </dict>
  </dict>
</plist>
